{% extends "base.html" %}
{% load board_filter %}
{% load static %}
{% block content %}
<style>
    #qnaboard {
        background-color: #6671a4;
        color: white;
    }
    
    .page-item.active .page-link {
        background-color: #6671a4 !important;
        border: #6671a4;
    }

</style>
<h4 class="border-bottom pb-2 my-3">{{ category.description }}</h4>
<div class="container my-3" id="question_list">
    <div class="row justify-content-between my-3"  >
        <div class="col-2"style="margin-top: 30px">
            <select class="form-control so" style="text-align:center;">
                <option value="recent" {% if so == 'recent' %}selected{% endif %}>최신순</option>
                <option value="recommend" {% if so == 'recommend' %}selected{% endif %}>추천순</option>
                <option value="popular" {% if so == 'popular' %}selected{% endif %}>답변순</option>
            </select>
        </div>
        <div class="col-4"style="margin-top: 30px">
            <div class="input-group">
                <input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr class="text-center" id="qnaboard">
            <th>번호</th>
            <th>추천</th>
            <th style="width:50%">제목</th>
            <th>글쓴이</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr class="text-center">
            <td>
                <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}
            </td>
            <td>
                {% if question.voter.all.count > 0 %}
                    <span class="badge rounded-pill bg-success">👍 {{ question.voter.count }}</span>
                        <!-- question.voter.count와 완전히 같은 쿼리(SQL문 동일) -->
                {% else %}
                    <span class="badge rounded-pill bg-success">👍 0</span>
                {% endif %}
            </td>
            <td class="text-left">
                <a href="{{ question.get_absolute_url }}"class="text-primary">{{ question.subject }}</a>
                {% if question.answer_set.count > 0 %}
                <span class="badge rounded-pill bg-warning">💬 [{{ question.answer_set.count }}]</span>
                {% else %}
                <span class="badge rounded-pill bg-warning">💬 0</span>
                {% endif %}
                {% if question.image %}
                <span class="list-i-img"><img src="{% static '/img/icons/image-gallery.png' %}" width="20px"></span>
                {% endif %}
            </td>
            <td>{{ question.author.username }}</td>
            <td>{{ question.create_date|date:'Y-m-d h:i:s A' }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if question_list.has_previous %}
            <li class="page-item">
                <a class="page-link" data-page="1" href="#">처음</a>
            </li>
            <li class="page-item">
                <a class="page-link" data-page="{{ question_list.previous_page_number }}" href="#">이전</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">처음</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in question_list.paginator.page_range %}
            {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
                {% if page_number == question_list.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" data-page="{{ page_number }}"
                href="javascript:void(0)">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ page_number }}"
                href="javascript:void(0)">{{ page_number }}</a>
                </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link" data-page="{{ question_list.next_page_number }}" href="#">다음</a>
            </li>
            <li class="page-item">
                <a class="page-link" data-page="{{ question_list.paginator.num_pages }}" href="#">끝</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">끝</a>
            </li>
        {% endif %}
    </ul>
    {% if user.is_authenticated %}
        <a href="{% url 'board:question_create' category.name %}" class="btn btn-primary" style="background-color:#6671a4; border:#6671a4;">질문 등록하기</a>
    {% else %}
        <a class="btn btn-primary" href="/login" style="background-color: #6671a4; border: #6671a4;">로그인 후 이용가능</a>
    {% endif %}
    <!-- 페이징처리 끝 -->
</div>
<form id="searchForm" method="get" action="{{ category.get_absolute_url }}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="so" name="so" value="{{ so }}">
</form>
{% endblock %}

{% block script %}
<script type='text/javascript'>
    $(document).ready(function() {
        $(".page-link").on('click', function() {
            $("#page").val($(this).data("page"));
            $("#searchForm").submit();
        });

        $("#btn_search").on('click', function() {
            $("#kw").val($(".kw").val());
            $("#page").val(1);  // 검색 버튼을 클릭할 경우 1페이지부터 조회한다.
            $("#searchForm").submit();
        });

        $(".so").on('change', function() {
            $("#so").val($(this).val());
            $("#page").val(1);  // 새로운 기준으로 정렬할 경우 1페이지부터 조회한다.
            $("#searchForm").submit();
        });
    });
</script>
{% endblock %}