/* camera.css */

.video-wrapper {    
    height: 100%;    
    overflow: hidden;    
    display: flex;    
    flex-direction: column;    
    align-items: center;    
    justify-content: center;
    /* margin-top : 20px; */
    padding-bottom: 43px;
    background-color: #e5e9ff;
} 

.video-container {    
    /* display: flex;    
    width: 550px;     */
    padding: 1rem;    
    justify-content: space-around;
} 

.video-item > h2 {    
    text-align: center;
}

.video-item > video {    
    border: 1px solid #6671a4;    
    width: 600px;
    height : 451px;
    border-radius: 30px;
    margin-top: 30px;
}

#button-record-image, #button-stop-image, #button-play-image{
    width : 40px;
    height : 40px;
}

#button-analyze-image{
    width : 40px;
}
.record-button, .stop-button, .play-button{
    padding: 0 !important;
    /* background-color: white; */
    border: none; 
}

.stop-button, .play-button, .analyze-button{
    padding: 0 !important;
    border: none;
    display : none;
}

