#main_nav {
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
}
body {
    /* padding-top: 90px; */
}
#mypage_container,
#pw_container {
    width: 50%;
}
.chat-container {
    display: flex;
    flex-direction: column;
    height: 500px; /* Adjust height as needed */
}

.chat-history-wrapper {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-y: scroll;
    padding: 15px;
    background-color: white;
    margin-bottom: 10px;
}

.chat-input-wrapper {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
}

.chat-history-wrapper p {
    margin-bottom: 10px;
}

.chat-history-wrapper .user-message {
    text-align: right;
}