{% extends "layout.html" %}
{% load static %}

{% block content %}
  <style>
    .profile-img{
      border-radius: 70%;
      margin-bottom: 18px;
      box-shadow: 5px 5px 5px #000;
    }
    .image-box {
      width:380px; 
      height:220px; 
      overflow:hidden;
      margin:0 auto;
      
    }
    .image-thumbnail {
      width:100%; 
      height:100%;
      object-fit:cover;
      border-radius: 8px;
    }
  </style>

  <section id="home" style="margin-top: -100px;z-index: -1;">
    <div class="bg-holder" style="background-image:url({% static '/img/gallery/hero.png' %});background-position:center;background-size:cover;">
    </div>
    <!--/.bg-holder-->

    <div class="container">
      <div class="row align-items-center min-vh-50 min-vh-sm-75">
        <div class="col-md-5 col-lg-6 order-0 order-md-1"><img class="w-100" src="{% static '/img/illustrations/main.png' %}" alt="..." /></div>
        <div class="col-md-7 col-lg-6 text-md-start text-center">
          <h1 class="text-light fs-md-5 fs-lg-6">Get a Confidence</h1>
          <p class="text-light">with Good-PT</p><a class="btn btn-primary" href="/presentation" role="button">Start Presentation</a>
        </div>
      </div>
    </div>
  </section>

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xxl-5 text-center mx-auto">
          <h2>발표 역량을 키워보세요!</h2>
          <p class="mb-4">Good-PT와 함께</p>
        </div>
      </div>
      <div class="row align-items-center mt-5">
        <div class="col-md-5 col-lg-6 order-md-1 order-0"><img class="w-100" src="{% static '/img/gallery/join-us2.png' %}" alt="" /></div>
        <div class="col-md-7 col-lg-6 pe-lg-4 pe-xl-7">
          <div class="d-flex align-items-start"><img class="me-4" src="{% static '/img/icons/creative.png' %}" alt="" width="30" />
            <div class="flex-1">
              <h5> 발표력 </h5>
              <p class="text-muted mb-4">발표력은 개인의 의사 표현 능력과 자신감을 나타내는 중요한 요소입니다. 발표력을 향상시키면 소통 능력이 향상되고, 사회적 상황에서 더 효과적으로 자신을 어필할 수 있습니다.</p>
            </div>
          </div>
          <div class="d-flex align-items-start"><img class="me-4" src="{% static '/img/icons/confidence.png' %}" alt="" width="30" />
            <div class="flex-1">
              <h5> 자신감 </h5>
              <p class="text-muted mb-4">명확하고 간결한 표현을 통한 발표력 향상은 자신감을 쌓는 효과적인 방법입니다.</p>
            </div>
          </div>
          <div class="d-flex align-items-start"><img class="me-4" src="{% static '/img/icons/creativity.png' %}" width="30" alt="..." />
            <div class="flex-1">
              <h5> 창의력 </h5>
              <p class="text-muted mb-4"> 향상된 발표력은 창의적 사고 능력도 키워줍니다. 창의적 사고를 통해서 여러 관점에서 문제를 바라보고 문제 해결 능력을 기를 수 있습니다. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

  
  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="bg-soft-primary">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xxl-5 text-center mx-auto mb-5">
          <h2>발표력, 왜 중요할까?</h2>
          <p class="mb-5">자신의 생각을 전달하고 상대를 설득시키는 발표, Good-PT와 함께 해요.</p>
        </div>
      </div>
      <div class="row h-100">
        <div class="col-md-6 mb-5 mb-md-0 h-100">
          <div class="card card-span bg-primary h-100">
            <div class="card-body p-4">
              <div style="margin-bottom: 15px; text-align: center;">
                <h5 style="color: white;">- 희망편 -</h5>
              </div>
              <div class="d-flex justify-content-between">
                <div class="image-box">
                  <a href="https://www.youtube.com/watch?v=IjN4HlzDlmw" target = "_blank">
                    <img class="image-thumbnail" src="https://img.youtube.com/vi/IjN4HlzDlmw/0.jpg" />
                  </a>
                </div>
              </div>
              <div style="margin-top: 15px; text-align: center;">
                <h5 style="color: white;">"나보다 잘하는데?" 교수님과...</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-5 mb-md-0 h-100">
          <div class="card card-span bg-primary h-100">
            <div class="card-body p-4">
              <div style="margin-bottom: 15px; text-align: center;">
                <h5 style="color: white;">- 절망편 -</h5>
              </div>
              <div class="d-flex justify-content-between">
                <div class="image-box">
                  <a href="https://www.youtube.com/shorts/Oat4ikOFFQo" target = "_blank">
                    <img class="image-thumbnail" src="https://img.youtube.com/vi/Oat4ikOFFQo/0.jpg" />
                  </a>
                </div>
              </div>
              <div style="margin-top: 15px; text-align: center;">
                <h5 style="color: white;">발표하다 긴장한 대학생 특징</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section>

    <div class="container" id="pricingTable">
      <div class="row">
        <div class="col-lg-6 col-xxl-5 text-center mx-auto mb-5">
          <h2>Membership Guide</h2>
          <p class="mb-5">Our service is always affordable for everyone. </p>
        </div>
      </div>
      <div class="row h-100">
        <div class="col-sm-6 col-xl-3 mb-3">
          <div class="card card-span shadow py-4 h-100 border-top border-4 border-primary">
            <div class="card-body">
              <div class="text-center"><img src="{% static '/img/icons/letter-b.png' %}" height="80" width="80" alt="..." />
                <h5 class="my-3">Basic</h5>
                <ul class="list-unstyled">
                  <li>발표 리포트 5 Limit</li>
                  <li>계정 등록기기 1대까지</li>
                </ul>
              </div>
            </div>
            <div class="border-top bg-white text-center pt-3 pb-0">
              <p class="mb-0">Get started at </p>
              <div class="d-flex justify-content-center">
                <h3 class="fw-normal">4,990원</h3><span class="d-flex align-items-center">/month</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 mb-3">
          <div class="card card-span shadow py-4 h-100 border-top border-4 border-primary">
            <div class="card-body">
              <div class="text-center"><img src="{% static '/img/icons/letter-s.png' %}" height="80" width="80" alt="..." />
                <h5 class="my-3">Standard</h5>
                <ul class="list-unstyled">
                  <li>발표 리포트 15 Limit </li>
                  <li>계정 등록기기 2대까지</li>
                </ul>
              </div>
            </div>
            <div class="border-top bg-white text-center pt-3 pb-0">
              <p class="mb-0">Get started at </p>
              <div class="d-flex justify-content-center">
                <h3 class="fw-normal">7,990원</h3><span class="d-flex align-items-center">/month</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 mb-3">
          <div class="card card-span shadow py-4 h-100 border-top border-4 border-primary">
            <div class="card-body">
              <div class="text-center"><img src="{% static '/img/icons/letter-p.png' %}" height="80" width="80" alt="..." />
                <h5 class="my-3">Premium</h5>
                <ul class="list-unstyled">
                  <li>발표 리포트 30 Limit </li>
                  <li>계정 등록기기 3대까지</li>
                </ul>
              </div>
            </div>
            <div class="border-top bg-white text-center pt-3 pb-0">
              <p class="mb-0">Get started at </p>
              <div class="d-flex justify-content-center">
                <h3 class="fw-normal">9,990원</h3><span class="d-flex align-items-center">/month</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 mb-3">
          <div class="card card-span shadow py-4 h-100 border-top border-4 border-primary">
            <div class="card-body">
              <div class="text-center"><img src="{% static '/img/icons/letter-u.png' %}" height="80" width="80" alt="..." />
                <h5 class="my-3">Ultimate</h5>
                <ul class="list-unstyled">
                  <li>발표 리포트 No Limit</li>
                  <li>계정 등록기기 5대까지</li>
                </ul>
              </div>
            </div>
            <div class="border-top bg-white text-center pt-3 pb-0">
              <p class="mb-0">Get started at </p>
              <div class="d-flex justify-content-center">
                <h3 class="fw-normal">13,990원</h3><span class="d-flex align-items-center">/month</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <section class="py-8">
    <div class="bg-holder" style="background-image:url({% static '/img/gallery/testimonial-bg.png' %});background-position:center;background-size:cover; height:100%;">
    </div>
    <!--/.bg-holder-->

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xxl-5 text-center mx-auto mb-5">
          <h2>Team Members</h2>
          <p class="mb-5"> contributed to Good-PT </p>
        </div>
      </div>
      <table align="center" id="team">
        <tr align="center">
            <td width=300>
              <a href="https://github.com/ehdwo98" target = "_blank">
                <img class='profile-img' src="{% static '/img/gallery/ko.png' %}" width=150 height=150/>
              </a>
              <h6 class="mb-0 fs--1">고동재</h6>
              <h6 class="mb-0 fs--1">WEB / DB</h6>
              <p class="my-3">&quot;장고를 통한 풀스택 개발과 AI를 연결하는 MLops를 경험할 수 있어 좋은 기회였습니다.&quot;</p>
            </td>
            <td width=300>
              <a href="https://github.com/finale22" target = "_blank">
                <img class='profile-img' src="{% static '/img/gallery/seo.png' %}" width=150 height=150/>
              </a>
              <h6 class="mb-0 fs--1">서성원</h6>
              <h6 class="mb-0 fs--1">AI</h6>
              <p class="my-3">&quot;조원 모두 각자의 역할을 최선을 다해 수행하여 빅프로젝트를 잘 마무리할 수 있었습니다. 조원들에게 감사합니다.&quot;</p>
            </td>
            <td width=300>
              <a href="https://github.com/shinshdd" target = "_blank">
                <img class='profile-img' src="{% static '/img/gallery/shin.png' %}" width=150 height=150/>
              </a>
              <h6 class="mb-0 fs--1">신상희 (WEB)</h6>
              <h6 class="mb-0 fs--1">WEB / UX</h6>
              <p class="my-3">&quot;프론트 경험을 쌓을 수 있어 좋았고, 좋은 팀원들을 만나서 프로젝트를 잘 진행할 수 있었습니다.&quot;</p>
            </td>
        </tr>
        <tr align = "center">
          <td width=300>
            <a href="https://github.com/SUNGWHANYOON" target = "_blank">
              <img class='profile-img' src="{% static '/img/gallery/yoon.png' %}" width=150 height=150/>
            </a>
            <h6 class="mb-0 fs--1">윤성환 (WEB)</h6>
            <h6 class="mb-0 fs--1">WEB / DB / PM</h6>
            <p class="my-3">&quot;처음 아이디어 기획할 때 구현 내용이 많아 걱정했었지만 잘 마무리할 수 있어 다행입니다.&quot;</p>
          </td>
          <td width=300>
            <a href="https://github.com/SuhyunRim118" target = "_blank">
              <img class='profile-img' src="{% static '/img/gallery/rim.png' %}" width=150 height=150/>
            </a>
            <h6 class="mb-0 fs--1">임수현</h6>
            <h6 class="mb-0 fs--1">AI / WEB</h6>
            <p class="my-3">&quot;협업에 대해서 제대로 배울 수 있었던 기회였습니다. 조원들과 함께 서비스 기획부터 개발까지 잘 마무리해서 뿌듯합니다.&quot;</p>
          </td>
          <td width=300>
            <a href="https://github.com/HaSangWan" target = "_blank">
              <img class='profile-img' src="{% static '/img/gallery/ha.png' %}" width=150 height=150/>
            </a>
            <h6 class="mb-0 fs--1">하상완</h6>
            <h6 class="mb-0 fs--1">AI</h6>
            <p class="my-3">&quot;조원들과 같이 헤쳐나갔다는게 너무 뿌듯했습니다. AI 개발은 처음 해봤는데 많은 것을 배운 것 같습니다.&quot;</p>
          </td>
        </tr>
      </table>
  </section>
{% endblock content %}