{% extends "layout.html" %}
{% load static %}

{% block content %}
  <style>
    .profile-img{
      border-radius: 70%;
      margin-bottom: 18px;
      box-shadow: 5px 5px 5px #000;
    }
  </style>

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="pt-8">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xxl-5 text-center mx-auto">
          <h2>발표 역량을 키워보세요!</h2>
          <p class="mb-4">Good-PT와 함께</p>
        </div>
      </div>
      <div class="row align-items-center mt-5">
        <div class="col-md-5 col-lg-6 order-md-1 order-0"><img class="w-100" src="{% static '/img/gallery/join-us.png' %}" alt="" /></div>
        <div class="col-md-7 col-lg-6 pe-lg-4 pe-xl-7">
          <div class="d-flex align-items-start"><img class="me-4" src="{% static '/img/icons/give-a-care.png' %}" alt="" width="30" />
            <div class="flex-1">
              <h5> 발표 역량 </h5>
              <p class="text-muted mb-4">Beside the support we provide you with various tools to be able to host and manage your websites</p>
            </div>
          </div>
          <div class="d-flex align-items-start"><img class="me-4" src="{% static '/img/icons/tweak-as-you.png' %}" alt="" width="30" />
            <div class="flex-1">
              <h5> 자신감 </h5>
              <p class="text-muted mb-4">Be able to customize your plan over time if needed so you pay only for what you use</p>
            </div>
          </div>
          <div class="d-flex align-items-start"><img class="me-4" src="{% static '/img/icons/security.png' %}" width="30" alt="..." />
            <div class="flex-1">
              <h5>SECURITY AT ITS BEST</h5>
              <p>We are the most reliable service provider, ready to give you a helping hand the fastest way possible 24/7</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

  
  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="pt-8 bg-soft-primary">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xxl-5 text-center mx-auto mb-5">
          <h2>Don't know where to start from?</h2>
          <p class="mb-5">We've got the best articles,tools and resources to help you to start</p>
        </div>
      </div>
      <div class="row h-100">
        <div class="col-md-6 mb-5 mb-md-0 h-100">
          <div class="card card-span bg-primary h-100">
            <div class="card-body p-4">
              <div class="d-flex justify-content-between"><img class="mb-3" src="{% static '/img/icons/rocket.png' %}" height="80" alt="..." /><img src="{% static '/img/icons/clouds-1.png' %}" height="90" alt="..." /></div>
              <h5 class="text-light">PLANING TO BUILD A WEBSITE</h5>
              <p class="text-light lh-lg">You want to build a new website but not sure what to start with? We've prepared a step by step guide for you to handle the whole process from design to launch </p>
              <div class="text-end"><a class="btn btn-light" href="#" role="button">LEARN MORE
                  <svg class="bi bi-chevron-right" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                  </svg></a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 h-100">
          <div class="card bg-secondary card-span h-100">
            <div class="card-body p-4">
              <div class="d-flex justify-content-between"><img class="mb-3" src="{% static '/img/icons/servion.png' %}" height="80" alt="..." /><img src="{% static '/img/icons/logos.png' %}" height="90" alt="..." /></div>
              <h5 class="text-light">WANT TO MOVE A WEBSITE TO SERVION</h5>
              <p class="text-light lh-lg">Already have an existing website and want to move it to Servion but not sure how to do it? No worries, it's not difficult, we can handle all the work for you. </p>
              <div class="text-end"><a class="btn btn-light" href="#" role="button">LEARN MORE
                <svg class="bi bi-chevron-right" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                </svg></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="pt-6" id="pricingTable">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xxl-5 text-center mx-auto mb-5">
          <h2>Types of hosting that we provide</h2>
          <p class="mb-5">Our service is always affordable for everyone. </p>
        </div>
      </div>
      <div class="row h-100">
        <div class="col-sm-6 col-xl-3 mb-3">
          <div class="card card-span shadow py-4 h-100 border-top border-4 border-primary">
            <div class="card-body">
              <div class="text-center"><img src="{% static '/img/icons/shared-hosting.png' %}" alt="..." />
                <h5 class="my-3">SHARED HOSTING</h5>
                <ul class="list-unstyled">
                  <li>Increase the rank of you</li>
                  <li>website by the higher speed</li>
                </ul>
              </div>
            </div>
            <div class="border-top bg-white text-center pt-3 pb-0">
              <p class="mb-0">Get started at </p>
              <div class="d-flex justify-content-center">
                <h3 class="fw-normal">15.99</h3><span class="d-flex align-items-center">/month</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 mb-3">
          <div class="card card-span shadow py-4 h-100 border-top border-4 border-primary">
            <div class="card-body">
              <div class="text-center"><img src="{% static '/img/icons/vpn-hosting.png' %}" alt="..." />
                <h5 class="my-3">VPS HOSTING</h5>
                <ul class="list-unstyled">
                  <li>Be able to conceal your ID </li>
                  <li>whenever needed</li>
                </ul>
              </div>
            </div>
            <div class="border-top bg-white text-center pt-3 pb-0">
              <p class="mb-0">Get started at </p>
              <div class="d-flex justify-content-center">
                <h3 class="fw-normal">8.99</h3><span class="d-flex align-items-center">/month</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 mb-3">
          <div class="card card-span shadow py-4 h-100 border-top border-4 border-primary">
            <div class="card-body">
              <div class="text-center"><img src="{% static '/img/icons/cloud-hosting.png' %}" alt="..." />
                <h5 class="my-3">CLOUD HOSTING</h5>
                <ul class="list-unstyled">
                  <li>Super convenient and highly </li>
                  <li>customizable option</li>
                </ul>
              </div>
            </div>
            <div class="border-top bg-white text-center pt-3 pb-0">
              <p class="mb-0">Get started at </p>
              <div class="d-flex justify-content-center">
                <h3 class="fw-normal">7.99</h3><span class="d-flex align-items-center">/month</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 mb-3">
          <div class="card card-span shadow py-4 h-100 border-top border-4 border-primary">
            <div class="card-body">
              <div class="text-center"><img src="{% static '/img/icons/wp-hosting.png' %}" alt="..." />
                <h5 class="my-3">WORDPRESS HOSTING</h5>
                <ul class="list-unstyled">
                  <li>With low cost and high variety</li>
                  <li>of tools, plugins of your choice</li>
                </ul>
              </div>
            </div>
            <div class="border-top bg-white text-center pt-3 pb-0">
              <p class="mb-0">Get started at </p>
              <div class="d-flex justify-content-center">
                <h3 class="fw-normal">13.99</h3><span class="d-flex align-items-center">/month</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <section class="py-8" id="team">
    <div class="bg-holder" style="background-image:url({% static '/img/gallery/testimonial-bg.png' %});background-position:center;background-size:cover;">
    </div>
    <!--/.bg-holder-->

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xxl-5 text-center mx-auto mb-5">
          <h2>Team Members</h2>
          <p class="mb-5"> contributed to Good-PT </p>
        </div>
      </div>
      <table align="center">
        <tr align="center">
            <td width=300>
              <a href="https://github.com/ehdwo98" target = "_blank">
                <img class='profile-img' src="{% static '/img/gallery/ko.png' %}" width=150 height=150/>
              </a>
              <h6 class="mb-0 fs--1">고동재</h6>
              <p class="my-3">&quot;I ve been using Servion for hosting many of my wordpress websites and I truly appreciate how affordable it is&quot;</p>
            </td>
            <td width=300>
              <a href="https://github.com/finale22" target = "_blank">
                <img class='profile-img' src="{% static '/img/gallery/seo.png' %}" width=150 height=150/>
              </a>
              <h6 class="mb-0 fs--1">서성원</h6>
              <p class="my-3">&quot;I ve been using Servion for hosting many of my wordpress websites and I truly appreciate how affordable it is&quot;</p>
              
            </td>
            <td width=300>
              <a href="https://github.com/shinshdd" target = "_blank">
                <img class='profile-img' src="{% static '/img/gallery/shin.png' %}" width=150 height=150/>
              </a>
              <h6 class="mb-0 fs--1">신상희</h6>
              <p class="my-3">&quot;I ve been using Servion for hosting many of my wordpress websites and I truly appreciate how affordable it is&quot;</p>
              
            </td>
        </tr>
        <tr align = "center">
          <td width=300>
            <a href="https://github.com/SUNGWHANYOON" target = "_blank">
              <img class='profile-img' src="{% static '/img/gallery/yoon.png' %}" width=150 height=150/>
            </a>
            <h6 class="mb-0 fs--1">윤성환</h6>
            <p class="my-3">&quot;I ve been using Servion for hosting many of my wordpress websites and I truly appreciate how affordable it is&quot;</p>
            
          </td>
          <td width=300>
            <a href="https://github.com/SuhyunRim118" target = "_blank">
              <img class='profile-img' src="{% static '/img/gallery/rim.png' %}" width=150 height=150/>
            </a>
            <h6 class="mb-0 fs--1">임수현</h6>
            <p class="my-3">&quot;I ve been using Servion for hosting many of my wordpress websites and I truly appreciate how affordable it is&quot;</p>
            
          </td>
          <td width=300>
            <a href="https://github.com/HaSangWan" target = "_blank">
              <img class='profile-img' src="{% static '/img/gallery/ha.png' %}" width=150 height=150/>
            </a>
            <h6 class="mb-0 fs--1">하상완</h6>
            <p class="my-3">&quot;I ve been using Servion for hosting many of my wordpress websites and I truly appreciate how affordable it is&quot;</p>
            
          </td>
        </tr>
      </table>
  </section>
{% endblock content %}