{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    Document Title-->
    <title>Good-PT</title>
    <!-- ===============================================-->

    <!--    Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static '/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static '/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- ===============================================-->

    <!--    Stylesheets-->
    <link rel="stylesheet" href="{% static 'theme-rtl.css' %}">
    <link rel="stylesheet" href="{% static 'theme-rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'theme.css' %}">
    <link rel="stylesheet" href="{% static 'theme.min.css' %}">

    <!-- ===============================================-->
  </head>

  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-4 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="/"><img src="{% static '/img/gallery/logo.png' %}" height="24" alt="..." /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
              <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-medium active" aria-current="page" href="#home">Home</a></li>
              <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link" href="#team">Team</a></li>
              <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link" href="#pricingTable">Pricing</a></li>
              <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link" href="#help">Help</a></li>
            </ul>
            {% if user.is_authenticated %}
            <form class="ps-lg-5"><a class="btn btn-light order-1 order-lg-0" href="/accounts/logout">logout
                <svg class="bi bi-person-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                </svg></a></form>
            {% else %}
            <form class="ps-lg-5"><a class="btn btn-light order-1 order-lg-0" href="/login">login
              <svg class="bi bi-person-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
              </svg></a></form>
            {% endif %}
          </div>
        </div>
      </nav>
      <section id="home">
        <div class="bg-holder" style="background-image:url({% static '/img/gallery/hero.png' %});background-position:center;background-size:cover;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row align-items-center min-vh-50 min-vh-sm-75">
            <div class="col-md-5 col-lg-6 order-0 order-md-1"><img class="w-100" src="{% static '/img/illustrations/hero-header.png' %}" alt="..." /></div>
            <div class="col-md-7 col-lg-6 text-md-start text-center">
              <h1 class="text-light fs-md-5 fs-lg-6">Get a Confidence</h1>
              <p class="text-light">with Good-PT</p><a class="btn btn-primary" href="#" role="button">Start Presentation</a>
            </div>
          </div>
        </div>
      </section>


      <!-- ============================================-->
      <!-- <section> begin ============================-->
        <div class="container page-body" id="layout_container">
            <div class="row">
                <div class="col-sm-12">
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %} {% block content %} {% endblock %}
                </div>
            </div>
        </div>

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pb-lg-0 pt-md-8 py-0">

        <div class="container">
          <div class="row align-items-center justify-content-xl-between py-5 border-klean">
            <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img src="{% static '/img/gallery/robinhood.png' %}" height="40" alt="..." /></div>
            <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img src="{% static '/img/gallery/reddit.png' %}" height="40" alt="..." /></div>
            <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img src="{% static '/img/gallery/upcase.png' %}" height="40" alt="..." /></div>
            <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img src="{% static '/img/gallery/hubspot.png' %}" height="40" alt="..." /></div>
            <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img src="{% static '/img/gallery/tunein.png' %}" height="40" alt="..." /></div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <section class="py-0 py-xxl-6" id="help">
        <div class="bg-holder" style="background-image:url({% static '/img/gallery/footer-bg.png' %});background-position:center;background-size:cover;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row min-vh-75 min-vh-xl-50 pt-10">
            <div class="col-6 col-md-4 col-xl-3 mb-3">
              <h5 class="lh-lg fw-bold text-white">HOSTING</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Shared Hosting</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">VPS Hosting</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Cloud Hosting</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Wordpress Hosting</a></li>
              </ul>
            </div>
            <div class="col-6 col-md-4 col-xl-3 mb-3">
              <h5 class="lh-lg fw-bold text-white">FEATURES</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Beginner Guide</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Move to Servion</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Website Builder</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Tools and Resources</a></li>
              </ul>
            </div>
            <div class="col-6 col-md-4 col-xl-3 mb-3">
              <h5 class="lh-lg fw-bold text-white">SUPPORT</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Help Center</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Submit a Ticket</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Contact Us</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Blog</a></li>
              </ul>
            </div>
            <div class="col-xl-3 mb-3">
              <h5 class="lh-lg fw-bold text-white">WE ACCEPT</h5>
              <ul class="list-unstyled list-inline mb-6 mb-md-0">
                <li class="list-inline-item mr-2"><a class="text-decoration-none" href="#!"><img class="list-social-icon" src="{% static '/img/gallery/visa.png' %}" width="50" alt="..." /></a></li>
                <li class="list-inline-item mr-2"><a class="text-decoration-none" href="#!"><img class="list-social-icon" src="{% static '/img/gallery/master-card.png' %}" width="50" alt="..." /></a></li>
                <li class="list-inline-item mr-2"><a class="text-decoration-none" href="#!"><img class="list-social-icon" src="{% static '/img/gallery/union-pay.png' %}" width="50" alt="..." /></a></li>
                <li class="list-inline-item"><a class="text-decoration-none" href="#!"><img class="list-social-icon" src="{% static '/img/gallery/express.png' %}" width="50" alt="..." /></a></li>
              </ul>
            </div>
          </div>
          <hr />
          <div class="row flex-center pb-3">
            <div class="col-md-6 order-0">
              <p class="text-200 text-center text-md-start">All rights Reserved &copy; KT AIVLE School AI 24, 2023</p>
            </div>
            <div class="col-md-6 order-1">
              <p class="text-200 text-center text-md-end"> Made with&nbsp;
                <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#A8B7FF" viewBox="0 0 16 16">
                  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                </svg>&nbsp;by&nbsp;<a class="text-200 fw-bold" href="https://themewagon.com/" target="_blank">ThemeWagon </a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/is.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static '/js/all.min.js' %}"></script>
    <script src="{% static '/js/theme.js' %}"></script>

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap" rel="stylesheet">
  </body>
</html>
{% comment %} <script>
const signUpBtns = document.getElementById("signUp");
const signInBtns = document.getElementById("signIn");
const containers = document.querySelector(".container-login");

signUpBtns.addEventListener("click", () => {
  console.log(containers)
  containers.classList.add("right-panel-active");
});
signInBtns.addEventListener("click", () => {
  console.log(containers)
  containers.classList.remove("right-panel-active");
});

</script> {% endcomment %}

<link rel="stylesheet" href="{% static 'login.css' %}">
