{% extends "layout.html" %}

{% load static %}
{% block content %}
<div class="video-wrapper">
    <div class = "pmodal-background">
        <div class = "pmodal-container">
            <h1>주의사항</h1>
            <p>1.녹화버튼을 눌러주세요.</p>
            <p>2.녹화완료후 자신의 영상을 확인해주세요.</p>
            <p>3.분석하기 버튼을 눌러주세요.</p>
            <p>4.조용한 곳에서 진행해주세요.</p>
        </div>
    </div>        
    <div class="video-container">            
        <div class="video-item">                
            <video autoplay muted id="preview"></video>
        </div>            
        <div class="video-item">                
            <video id="recording" style="display:none"></video>            
        </div>
    </div>
    <div class="button-container">            
        <button class="record-button">
            <img src="{% static '/img/icons/btn_record.png' %}" id = "button-record-image">
        </button>           
        <button class="stop-button">
            <img src='../static/img/icons/btn_stop.png' id = "button-stop-image">
        </button>            
        <button class="play-button">
            <img src='../static/img/icons/btn_play.png' id = "button-play-image">
        </button>
        <button class="analyze-button">
            <img src='../static/img/icons/btn_analyze.png' id = "button-analyze-image">
        </button>
    </div>    
</div>
<script defer src = "{% static '/js/camera.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'camera.css' %}">
{% endblock content %}
