{% extends "layout.html" %}
{% load static %}
{% block content %}
<div class="video-wrapper">
    <div class = "pmodal-background">
        <div class = "notice-box">
            <img class="notice-img" src="{% static '/img/gallery/presentation-notice.jpg' %}">
        </div>
    </div>        
    <div class="video-container">            
        <div class="video-item">                
            <video autoplay muted id="preview"></video>
        </div>            
        <div class="video-item">                
            <video id="recording" style="display:none"></video>            
        </div>
    </div>
    <div class="button-container">            
        <button class="record-button">
            <img src="{% static '/img/icons/btn_record.png' %}" id = "button-record-image">
        </button>           
        <button class="stop-button">
            <img src='../static/img/icons/btn_stop.png' id = "button-stop-image">
        </button>            
        <button class="play-button">
            <img src='../static/img/icons/btn_play.png' id = "button-play-image">
        </button>
        <button class="analyze-button">
            <img src='../static/img/icons/btn_analyze.png' id = "button-analyze-image">
        </button>
    </div>    
</div>
<script defer src = "{% static '/js/camera.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'camera.css' %}">
{% endblock content %}
