{% extends "layout.html" %} 
{% block content %}
<div class="container page-body" id="mypage_container">
    <div class="row">
        <div class="col-sm-12" style="margin-top: 80px">
            <h1>My Info</h1>
            <br />
            <ul class="list-group list-group">
                <li class="list-group-item">Name : {{user}}</li>
                <li class="list-group-item">Email : {{user.email}}</li>
                <li class="list-group-item">Tel : {{user.profile.phone_number}}</li>
                <li class="list-group-item">Address : {{user.profile.address}}</li>
                <li class="list-group-item">Signup : {{user.date_joined}}</li>
            </ul>
            <br />
            <a class="btn btn-secondary" href="{% url 'mypage:password_change' %}">패스워드 변경</a>
            {%if user.report %}
            <a class="btn btn-primary" href="/login" style="background-color: #6671a4; border: #6671a4;">로그인 후 이용가능</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
