
.ngdialog {
  box-sizing: border-box;
}

.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
  box-sizing: inherit;
}

.ngdialog {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ngdialog.ngdialog-disabled-animation,
.ngdialog.ngdialog-disabled-animation .ngdialog-overlay,
.ngdialog.ngdialog-disabled-animation .ngdialog-content {
  -webkit-animation: none !important;
  animation: none !important;
}

.ngdialog-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
}

.ngdialog-no-overlay {
  pointer-events: none;
}

.ngdialog.ngdialog-closing .ngdialog-overlay {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}

.ngdialog-content {
  background: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
  pointer-events: all;
}

.ngdialog.ngdialog-closing .ngdialog-content {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}

.ngdialog-close:before {
  font-family: "Helvetica", Arial, sans-serif;
  content: "×";
  cursor: pointer;
}

html.ngdialog-open,
body.ngdialog-open {
  overflow: hidden;
}

@-webkit-keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(30rem);
    transform: translateY(30rem);
  }
}
@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-10rem);
    transform: translateY(-10rem);
  }
}
.ngdialog.ngdialog-theme-default {
  padding-bottom: 160px;
  padding-top: 160px;
}

.ngdialog.ngdialog-theme-default.ngdialog-closing .ngdialog-content {
  -webkit-animation: ngdialog-flyout 0.5s;
  animation: ngdialog-flyout 0.5s;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  -webkit-animation: ngdialog-flyin 0.5s;
  animation: ngdialog-flyin 0.5s;
  background: #f0f0f0;
  border-radius: 5px;
  color: #444;
  font-family: "Helvetica", sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
  width: 450px;
}

.ngdialog.ngdialog-theme-default .ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:before {
  background: transparent;
  border-radius: 3px;
  color: #bbb;
  content: "×";
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 30px;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-default .ngdialog-close:active:before {
  color: #777;
}

.ngdialog.ngdialog-theme-default .ngdialog-message {
  margin-bottom: 0.5em;
}

.ngdialog.ngdialog-theme-default .ngdialog-input {
  margin-bottom: 1em;
}

.ngdialog.ngdialog-theme-default .ngdialog-input textarea,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type=text],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type=password],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type=email],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type=url] {
  background: #fff;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 0.25em;
  min-height: 2.5em;
  padding: 0.25em 0.67em;
  width: 100%;
}

.ngdialog.ngdialog-theme-default .ngdialog-input textarea:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type=text]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type=password]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type=email]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type=url]:focus {
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none;
}


.ngdialog.ngdialog-theme-default .ngdialog-buttons:after {
  content: "";
  display: table;
  clear: both;
}

.ngdialog.ngdialog-theme-default .ngdialog-button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  line-height: 1em;
  margin: 0 0 0 0.5em;
  padding: 0.75em 2em;
  text-transform: uppercase;
}

.ngdialog.ngdialog-theme-default .ngdialog-button:focus {
  -webkit-animation: ngdialog-pulse 1.1s infinite;
  animation: ngdialog-pulse 1.1s infini
  te;
  outline: none;
}

@media (max-width: 568px) {
  .ngdialog.ngdialog-theme-default .ngdialog-button:focus {
    -webkit-animation: none;
    animation: none;
  }
}
.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-primary {
  background: #3288e6;
  color: #fff;
}

.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-secondary {
  background: #e0e0e0;
  color: #777;
}

.modal-heading {
  padding: 1rem;
}

.modal-heading {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  background: #FFFFFF;
  line-height: 1;
  color: #FFFFFF;
}

.reveal-modal {
  display: flex;
  flex-basis: 0;
  color: #555;
  overflow: hidden;
  line-height: normal;
  top: 0 !important;
  align-self: center;
  position: absolute;
  margin: 0;
  left: 0;
  max-height: 100vh;
  width: 100vw;
  padding: 0;
  height: 100vh;
  background: none;
  border: none;
  box-shadow: none;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.modal .ngdialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.modal .ngdialog-content {
  -webkit-animation: ngdialog-flyin 0.5s;
  animation: ngdialog-flyin 0.5s;
  display: flex;
  flex-direction: column;
  background: white;
  overflow: auto;
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box;
  transition: all 0.6s cubic-bezier(0.17, 0.67, 0.29, 1);
  z-index: 2;
}

.modal.ngdialog-closing .ngdialog-content {
  -webkit-animation: ngdialog-flyout 0.5s;
  animation: ngdialog-flyout 0.5s;
}

.modal-icon {
  flex-shrink: 0;
  font-size: 2.5rem;
}

.modal-title {
  font-size: 1.5rem;
}

.modal-loading-container, .modal-content {
  display: flex;
  flex-grow: 1;
  min-height: 5rem;
}

.modal-loading-container {
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.modal-loading-container .spinner-icon {
  width: 2rem;
  height: 2rem;
}

.modal-loading-container.hide-spinner {
  display: none;
}

.modal-loading-container + .modal-content {
  display: none;
}

.modal-content {
  flex-direction: column;
  flex-shrink: 0;
  flex-basis: 100%;
  display: block;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-x: auto;
  line-height: normal;
  word-wrap: break-word;
}

.modal-content .ng-scope p {
  padding-bottom: 1rem;
}
.modal-content .ng-scope a {
  color: #1173A8;
}
.modal-content .ng-scope a :hover {
  color: #044C7A;
}

.modal-content p {
  font-size: 1.25rem;
}

.modal-content img {
  display: block;
  margin: 0 auto;
}

.modal-content ng-form, .modal-content form {
  flex-grow: 1;
}

.modal-content .smart-table {
  padding: 0;
  flex-basis: auto;
}

.modal-content .smart-table-list {
  max-height: none;
}

.modal-content .hierarchy-tree {
  border: none;
}

.modal-content .hierarchy-tree .hierarchy-node-icon {
  cursor: pointer;
}

.reveal-modal .buttons-container {
  flex-shrink: 0;
}

.modal-small {
  width: 30rem;
}

.modal-medium {
  width: 45rem;
}

.modal-large {
  width: 60rem;
}

.reveal-modal .button-primary {
  background-color: transparent;
}

.modal-confirmation .modal-icon:before {
  content: "";
}

.modal-information .modal-icon:before {
  content: "";
}

.modal-preview .modal-icon:before {
  content: "";
}

.modal-action .modal-icon:before {
  content: "";
}

.modal-add .modal-icon:before {
  content: "";
}

.modal-edit .modal-icon:before {
  content: "";
}

.modal-export .modal-icon:before {
  content: "";
}

.modal-delete .modal-icon:before {
  content: "";
}

.modal-warning .modal-icon:before {
  content: "";
}

.modal-error .modal-icon:before {
  content: "";
}

.modal-information .modal-heading, .modal-information .button-primary,
.modal-action .modal-heading, .modal-action .button-primary,
.modal-add .modal-heading, .modal-add .button-primary,
.modal-export .modal-heading, .modal-export .button-primary,
.modal-edit .modal-heading, .modal-edit .button-primary,
.modal-preview .modal-heading, .modal-preview .button-primary {
  background-color: #1173A8;
}

.modal-information .button-primary:hover, .modal-information .button-primary:focus,
.modal-action .button-primary:hover, .modal-action .button-primary:focus,
.modal-add .button-primary:hover, .modal-add .button-primary:focus,
.modal-export .button-primary:hover, .modal-export .button-primary:focus,
.modal-edit .button-primary:hover, .modal-edit .button-primary:focus,
.modal-preview .button-primary:hover, .modal-preview .button-primary:focus {
  background-color: #044C7A;
}

.modal-confirmation .modal-heading, .modal-confirmation .button-primary {
  background-color: #86AF3F;
}

.modal-confirmation .button-primary:hover,
.modal-confirmation .button-primary:focus {
  background-color: #5C7935;
}

.modal-warning .modal-heading, .modal-warning .button-primary,
.modal-delete .modal-heading, .modal-delete .button-primary {
  background-color: #F58220;
}

.modal-warning .button-primary:hover,
.modal-warning .button-primary:focus,
.modal-delete .button-primary:hover,
.modal-delete .button-primary:focus {
  background-color: #8B5723;
}

.modal-error .modal-heading, .modal-error .button-primary {
  background-color: #D2232A;
}

.modal-error .button-primary:hover,
.modal-error .button-primary:focus {
  background-color: #8C191D;
}

button.disabled, button[disabled], .button.disabled, .button[disabled],
button.disabled:hover, button[disabled]:hover, .button.disabled:hover, .button[disabled]:hover,
button.disabled:focus, button[disabled]:focus, .button.disabled:focus, .button[disabled]:focus {
  background-color: #D1D2D4;
}

.modal-agreement-body {
  border: solid;
  border-width: 3px;
  border-color: #1173A8;
  padding: 1rem;
}

.modal-agreement-body-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 32rem) {
  .reveal-modal .buttons-container {
    background-color: #F1F2F2;
  }

  .reveal-modal .buttons-container .button, .reveal-modal .buttons-container .ng-scope {
    flex-grow: 1;
    margin: 0;
    border-radius: 0;
  }

  .reveal-modal .buttons-container .ng-scope {
    display: flex;
  }
}
@media (min-width: 32rem) {
  .modal .ngdialog-content {
    max-width: calc(100vw - 2rem);
    max-height: calc(100vh - 2rem);
    min-width: 0;
    border-radius: 0.1875rem;
    box-shadow: 0rem 0.688rem 0.938rem -0.438rem rgba(0, 0, 0, 0.2), 0rem 1.5rem 2.375rem 0.188rem rgba(0, 0, 0, 0.14), 0rem 0.563rem 2.875rem 0.5rem rgba(0, 0, 0, 0.12);
  }

  .reveal-modal .buttons-container {
    margin: 0 !important;
    padding: 1rem;
  }
}
@media (min-width: 32rem) {
  .reveal-modal > div > div {
    min-height: 0;
  }
}
@media (min-height: 35rem) {
  .reveal-modal > div > div {
    overflow: hidden;
  }

  .reveal-modal .modal-content {
    flex-shrink: 1;
    overflow: auto;
  }
}